:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    font-family: 'Public Sans', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.nav{
    background-color: var(--white);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__img{
    display: block;
}
.nav__links{
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    background-color: var(--white);
    padding: 3em 1em;
    box-shadow: 0 0 3px rgb(0, 0, 0, .7);
    z-index: 1000;
    border-radius: 6px;
    display: grid;
    justify-items: center;
    gap: 2em;
    transition: transform .3s;
    transform: translateY(-150%);
}
.nav__links:target{
    transform: translateY(0);
}
.nav__link{
    text-decoration: none;
    color: var(--dark-blue);
}

.hero__main{
    max-width: 1200px;
}
.hero__background{
    width: 100%;
    height: 300px;
    background-image: url('../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 350px;
    position: relative;
}
.hero__background::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    background-image: url('../images/image-mockups.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.hero__texts{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 80px;
}
.hero__title{
    margin-top: 1em;
    font-size: 2.3em;
    font-weight: 400;
    color: var(--dark-blue);
}
.hero__paragraph{
    line-height: 1.5;
    font-weight: 300;
    margin: 1em 0 1.5em;
    color: var(--grayish-blue);
}
.cta{
    display: inline-block;
    padding: 1em 2em;
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    border-radius: 2em;
}

.easybank{
    background-color: var(--light-grayish-blue);
}
.easybank__container{
    text-align: center;
    padding: 70px 0;
}
.title{
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
}
.easybank__paragraph{
    line-height: 1.5;
    margin-bottom: 4em;

}
.easybank__services{
    display: grid;
    gap: 3em;
    max-width: 400px;
    margin: 0 auto;
}
.easybank__icon{
    display: block;
    margin: 0 auto;
    width: max-content;
}
.easybank__title{
    margin: 1em 0;
    color: var(--dark-blue);
    font-weight: 400;
}
.easybank__copy{
    list-style: 1.5;
    color: var(--grayish-blue);
}



.articles{
    background-color: var(--very-light-gray);
}
.articles__container{
    padding: 70px 0;
    text-align: center;
}
.articles__content{
    margin-top: 2em;
    display: grid;
    gap: 2em;
}
.articles__article{
    --img-bg: url('../images/image-currency.jpg');
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 7px;
    box-shadow: 0 0 3px rgb(0, 0, 0, .2);
    overflow: hidden;
    text-align: left;
} 
.articles__article:nth-of-type(2){
    --img-bg: url('../images/image-restaurant.jpg');
}
.articles__article:nth-of-type(3){
    --img-bg: url('../images/image-plane.jpg');
}
.articles__article:nth-of-type(4){
    --img-bg: url('../images/image-confetti.jpg');
}
.articles__img{
    width: 100%;
    height: 250px;
    background-image: var(--img-bg);
    background-size: cover;
    background-position: center;
}
.articles__text{
    padding: 1.5em 1em 2.5em;
}
.articles__author{
    color: var(--grayish-blue);
    font-size: .8rem;
}
.articles__title{
    color: var(--dark-blue);
    font-weight: 400;
    margin: .7rem 0;
}
.articles__paragraph{
    color: var(--grayish-blue);
    line-height: 1.5;
}

.footer{
    background-color: var(--dark-blue);
    text-align: center;
}
.footer__container{
    padding: 70px 0;
}
.footer__logo{
    display: block;
    margin: 0 auto;
    width: max-content;
    margin-bottom: 1.5em;
} 
.footer__img{
    display: block;
}
.footer__socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.footer__media{
    text-decoration: none;
}
.footer__nav{
    margin-top: 1.5em;
    display: grid;
    gap: 1em;
    justify-items: center;
}
.footer__link{
    text-decoration: none;
    color: var(--white);
}
.footer--hover:hover{
    text-decoration: underline;
    color: var(--lime-green);
}
.footer__icon{
    display: block; 
}
.cta--footer{
    margin: 1.5em 0;
}
.footer__copy{
    color: var(--grayish-blue);
}
.cta--nav{
    display: none;
}
